<a href="https://colab.research.google.com/github/Sreerag3/IHUB_PROJECTS/blob/main/Original%20script%20for%20Nagpur%20faulty%20vehicle%20removal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
from datetime import datetime

data = pd.read_csv('/content/Trip Raw Report_November (4).csv')
df = data.copy()

faulty_vehicle_list = pd.read_excel('/content/Nov faulty.xlsx')['VehicleNum'].tolist()

# Function to identify consecutive rows with CAS=0 for a given vehicle
def identify_faulty_rows(vehicle_data):
    consecutive_zeros = 0
    faulty_rows = []

    for index, row in vehicle_data.iterrows():
        if row['CAS'] == 0:
            consecutive_zeros += 1
        else:
            consecutive_zeros = 0  # Reset if CAS is not 0

        if consecutive_zeros >= 15 and row['VehicleNum'] in faulty_vehicle_list:
            faulty_rows.extend(list(range(index - consecutive_zeros + 1, index + 1)))

    return faulty_rows

# Apply the function to each vehicle
faulty_rows_to_remove = []
for vehicle_num in df['VehicleNum'].unique():
    vehicle_data = df[df['VehicleNum'] == vehicle_num]
    faulty_rows_to_remove.extend(identify_faulty_rows(vehicle_data))

# Remove the identified faulty rows
df_cleaned = df.drop(faulty_rows_to_remove)

In [24]:
df_cleaned.to_excel('CLEANED DATA AUG.xlsx', index=False)

In [ ]:
count_lists = ['distance', 'CAS', 'me_fcw_count', 'me_hmw_count', 'me_pcw_count', 'me_lldw_count', 'me_rldw_count']
finaldata_ = df_cleaned.groupby(['groupName','driverName'])[count_lists].sum().reset_index()
print(finaldata_.shape)
finaldata_.head()

In [ ]:
name_list = finaldata_['groupName'].unique()
print(name_list)

for g_value in name_list:

  g_df = finaldata_[finaldata_['groupName'] == g_value]
  f_name = f"group_{g_value}.xlsx"
  g_df.to_excel(f_name, index=False)

gp_df = df_cleaned[df_cleaned['groupName'] == 'Hansa-School-Bus-Fleet']

count_lists = ['distance', 'me_fcw_count','me_hmw_count','me_pcw_count', 'me_lldw_count','me_rldw_count']

gp_df = df_cleaned.groupby('VehicleNum')[count_lists].sum().reset_index()

gp_df.head()

In [32]:
gp_df.to_excel("group_Hansa-School-Bus-Fleet.xlsx")