<a href="https://colab.research.google.com/github/Sreerag3/IHUB_PROJECTS/blob/main/iRASTE%20nagpur%20Driver%20score%20report%20generation%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

data = pd.read_csv('/content/June Raw data.csv')
print(data.shape)
data.head()

(21912, 45)

,startDate,startTime,endDate,endTime,VehicleNum,vehicleModel,groupName,driverName,StartLatGPS,StartLongGPS,...,stoppage_count,hard_curving_count,dms_tampering,lm_tao_count,dms_driver_drowsy_count,dms_driver_asleep_count,dms_driver_smoking_count,dms_driver_distracted_count,dms_driver_on_phone_count,dms_no_seat_belt_count
0,02-06-2023,13:32:32,02-06-2023,14:07:50,MH40BG2596,Eicher 10.75,Hansa-Aapli-Red-Bus,Jayanta Mohurle,21.139888,79.075463,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,02-06-2023,06:51:55,02-06-2023,07:21:44,MH40BG2596,Eicher 10.75,Hansa-Aapli-Red-Bus,Jayanta Mohurle,21.094247,79.136170,...,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,02-06-2023,05:56:51,02-06-2023,06:33:55,MH40BG2596,Eicher 10.75,Hansa-Aapli-Red-Bus,Jayanta Mohurle,21.141143,79.079263,...,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,02-06-2023,05:15:26,02-06-2023,05:32:48,MH40BG2596,Eicher 10.75,Hansa-Aapli-Red-Bus,Jayanta Mohurle,21.116427,79.019180,...,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01-06-2023,16:04:53,01-06-2023,16:31:42,MH40BG2596,Eicher 10.75,Hansa-Aapli-Red-Bus,NaN,21.142098,79.080323,...,1.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
data.columns

Index(['startDate', 'startTime', 'endDate', 'endTime', 'VehicleNum',
       'vehicleModel', 'groupName', 'driverName', 'StartLatGPS',
       'StartLongGPS', 'EndLatGPS', 'EndLongGPS', 'startAddress', 'endAddress',
       'distance', 'duration', 'fuelConsumed', 'fuelWasted', 'mileage',
       'me_fcw_count', 'me_dfm_count', 'me_hmw_count', 'me_lldw_count',
       'me_pcw_count', 'me_pdz_count', 'me_rldw_count', 'me_tao_count',
       'me_twl_count', 'me_ufcw_count', 'freerun_count', 'hard_brake_count',
       'hard_curve_count', 'idling_count', 'over_acceleration_count',
       'speeding_count', 'stoppage_count', 'hard_curving_count',
       'dms_tampering', 'lm_tao_count', 'dms_driver_drowsy_count',
       'dms_driver_asleep_count', 'dms_driver_smoking_count',
       'dms_driver_distracted_count', 'dms_driver_on_phone_count',
       'dms_no_seat_belt_count'],
      dtype='object')

In [14]:
data = data[['endDate', 'VehicleNum', 'groupName', 'driverName', 'distance', 'me_fcw_count', 'me_hmw_count',
             'me_pcw_count', 'me_lldw_count', 'me_rldw_count']]
data.head()

,endDate,VehicleNum,groupName,driverName,distance,me_fcw_count,me_hmw_count,me_pcw_count,me_lldw_count,me_rldw_count
0,02-06-2023,MH40BG2596,Hansa-Aapli-Red-Bus,Jayanta Mohurle,9.020,0.0,0.0,0.0,0.0,0.0
1,02-06-2023,MH40BG2596,Hansa-Aapli-Red-Bus,Jayanta Mohurle,10.438,0.0,0.0,0.0,0.0,0.0
2,02-06-2023,MH40BG2596,Hansa-Aapli-Red-Bus,Jayanta Mohurle,13.569,0.0,0.0,1.0,0.0,0.0
3,02-06-2023,MH40BG2596,Hansa-Aapli-Red-Bus,Jayanta Mohurle,7.315,0.0,0.0,0.0,0.0,0.0
4,01-06-2023,MH40BG2596,Hansa-Aapli-Red-Bus,NaN,7.637,0.0,0.0,0.0,0.0,0.0

In [ ]:
# start_date = pd.to_datetime('2023-07-03')
# end_date = pd.to_datetime('2023-07-09')

# filtered_df = df[(df['endDate'] >= start_date) | (df['endDate'] <= end_date)]
# filtered_df['endDate'].value_counts()

In [15]:
df = data.copy()
print(df.shape)

(21912, 10)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21912 entries, 0 to 21911
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   endDate        21912 non-null  object
 1   VehicleNum     21912 non-null  object
 2   groupName      21912 non-null  object
 3   driverName     19900 non-null  object
 4   distance       21912 non-null  float64
 5   me_fcw_count   21911 non-null  float64
 6   me_hmw_count   21911 non-null  float64
 7   me_pcw_count   21911 non-null  float64
 8   me_lldw_count  21911 non-null  float64
 9   me_rldw_count  21911 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.7+ MB

In [17]:
from datetime import datetime

def custom_date_parser(date_str):

    return datetime.strptime(date_str, '%d-%m-%Y')

df['endDate'] = df['endDate'].apply(custom_date_parser)
dfs = []


day_list = [(1, 2), (3, 9), (10, 16), (17, 23), (24, 30), (31, 31)]

for day in day_list:

  start_date = datetime(2023, 7, day[0])
  end_date = datetime(2023, 7, day[1])

  mask = (df['endDate'] >= start_date) & (df['endDate'] <= end_date)
  filtered_df = df[mask]

  filtered_df.reset_index(drop=True, inplace=True)
  dfs.append(filtered_df)

In [18]:
dfs[0].to_excel('July1-July2.xlsx')

In [19]:
dfs[1].to_excel('week1.xlsx')

In [20]:
dfs[2].to_excel('week2.xlsx')

In [21]:
dfs[3].to_excel('week3.xlsx')

In [22]:
dfs[4].to_excel('week4.xlsx')

In [23]:
dfs[5].to_excel('July31.xlsx')

In [24]:
dfs[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   endDate        0 non-null      datetime64[ns]
 1   VehicleNum     0 non-null      object
 2   groupName      0 non-null      object
 3   driverName     0 non-null      object
 4   distance       0 non-null      float64
 5   me_fcw_count   0 non-null      float64
 6   me_hmw_count   0 non-null      float64
 7   me_pcw_count   0 non-null      float64
 8   me_lldw_count  0 non-null      float64
 9   me_rldw_count  0 non-null      float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 124.0+ bytes

In [25]:
dfs[1]['VehicleNum'] = dfs[1]['VehicleNum'].astype(str)

In [26]:
print(dfs[1].shape)
values_to_drop = ['MH31EM0397', 'MH40BG1208','MH40BG7476','MH40BG1076','MH31EM0417','MH40BG0841','MH40BG0869',
                      'MH40BG3238','MH40BG0870','MH40BG1081','MH40BG1085','MH40BG1209','MH40BG1215','MH40BG7470',
                      'MH31EM0391','MH31FC0377','MH31FC0944','MH31EM0392','MH31FC0943','MH31FC0945','MH31FC0946',
                      'MH31FC0966','MH31FC0970','MH31FC0980','MH31EM0409','MH40BG1161','MH40AT0460','MH40Y6891',
                      'MH40BG2006','MH40BG7436','MH40BG2008']

dfs[1] = dfs[1][~dfs[1]['VehicleNum'].isin(values_to_drop)]

print(dfs[1].shape)

(0, 10)
(0, 10)

In [27]:
print(dfs[2].shape)
values_to_drop = ['MH40BG0869', 'MH31EM0395','MH40BG1081','MH40BG1209','MH40BG1073',
                      'MH40BG1085','MH31EM0396','MH40BG2596','MH40BG7470','MH31EM0397','MH31EM0417',
                      'MH40BG1076','MH40BG1208','MH40BG3238','MH40BG1215','MH31EM0391','MH31FC0424',
                      'MH31FC0944','MH31FC0943','MH31FC0945','MH31FC0966','MH31FC0980','MH31FC0377','MH31FC0378',
                      'MH40BG1549','MH40BG3460','MH31EM0409','MH40BG1161','MH40AT0460','MH40Y6891','MH40BG2006',
                      'MH40BG7436','MH40BG2008']

dfs[2] = dfs[2][~dfs[2]['VehicleNum'].isin(values_to_drop)]

print(dfs[2].shape)

(0, 10)
(0, 10)

In [28]:
print(dfs[3].shape)
values_to_drop = ['MH40BG1083', 'MH40BG0842','MH40BG1085','MH31EM0417','MH40BG1076','MH40BG1208',
                      'MH40BG3238','MH31EM0397','MH40BG1215','MH31FC0406','MH31FC0415','MH31FC0947','MH31FC0939',
                      'MH31FC0942','MH40BG1543','MH31EM0427','MH40BG2981','MH40BG1548','MH31EM0409','MH40BG1161',
                      'MH40BG2006','MH40BG7436','MH40BG7375','MH40BG2008','MH40Y6893','MH40AT0460','MH40Y6891','MH40Y6897']

dfs[3] = dfs[3][~dfs[3]['VehicleNum'].isin(values_to_drop)]

print(dfs[3].shape)

(0, 10)
(0, 10)

In [ ]:
print(dfs[4].shape)
values_to_drop = ['MH40BG0869', 'MH40BG0841','MH40BG0842','MH40BG2597','MH40BG1085','MH31EM0396','MH40BG2596',
                      'MH40BG7470','MH40BL3842','MH40BG1208','MH40BG1076','MH40BG1083','MH40BG3238','MH31EM0397','MH40BL3833',
                      'MH31EM0395','MH40BG1081','MH40BG1209','MH40BG1215','MH31EM0417','MH31EM0391','MH31FC0216','MH31FC0406',
                      'MH31FC0944','MH31FC0939','MH31FC0947','MH31EM0392','MH31EM0389','MH31FC0382','MH31FC0424','MH31FC0942',
                      'MH31FC0945','MH31FC0946','MH31FC0377','MH40BG1543','MH40BG1551','MH40BG2981','MH40BG1548','MH40BG3460',
                      'MH31EM0409','MH40BG1161','MH40BG2980','MH31EM0423','MH40BG1549','MH31EM0425','MH40AT0182','MH40Y6893',
                      'MH40AT0460','MH40Y6891','MH40Y6895','MH40BG2008']

dfs[4] = dfs[4][~dfs[4]['VehicleNum'].isin(values_to_drop)]

print(dfs[4].shape)

In [29]:
combined_df = pd.concat([dfs[0],dfs[1], dfs[2], dfs[3],dfs[4],dfs[5]], axis=0, ignore_index=True)
combined_df.head()

Empty DataFrame
Columns: [endDate, VehicleNum, groupName, driverName, distance, me_fcw_count, me_hmw_count, me_pcw_count, me_lldw_count, me_rldw_count]
Index: []

In [ ]:
# data[data['groupName'] == 'Tra'].index

In [30]:
count_lists = ['distance', 'me_fcw_count','me_hmw_count', 'me_pcw_count', 'me_lldw_count',	'me_rldw_count']
data_ = combined_df.groupby(['groupName', 'driverName'])[count_lists].sum().reset_index()
print(data_.shape)
# data_.head()

(0, 8)

Empty DataFrame
Columns: [groupName, driverName, distance, me_fcw_count, me_hmw_count, me_pcw_count, me_lldw_count, me_rldw_count]
Index: []

In [33]:
data_copy = data_.copy()

# for i in data_copy['distance']:
#   if i < 320:
#     data_copy.drop(data_copy[i], inplace = True)

data_copy = data_copy.drop(data_copy[data_copy.distance < 320].index)

print(data_copy.shape)
data_copy.head()

(0, 8)

Empty DataFrame
Columns: [groupName, driverName, distance, me_fcw_count, me_hmw_count, me_pcw_count, me_lldw_count, me_rldw_count]
Index: []

In [ ]:
# rem_col = ['MH31EM0391']

# data_ = data_[~data_['VehicleNum'].isin(rem_col)]
# print(data_.shape)

In [ ]:
# with pd.ExcelWriter('output.xlsx') as writer:
#   for g_name, g_data in data_.groupby('groupName'):
#     g_data.to_excel(writer, sheet_name=g_name, index=False)

In [ ]:
print(data['groupName'].value_counts(),'\n')
print(data_['groupName'].value_counts())

In [ ]:
name_list = data_['groupName'].unique()
print(name_list)

for g_value in name_list:

  g_df = data_[data_['groupName'] == g_value]
  f_name = f"group_{g_value}.xlsx"
  g_df.to_excel(f_name, index=False)

In [ ]:
name_ = 'Hansa-School-Bus-Fleet'

group_df = data[data['groupName'] == 'name_']
group_df.head()

In [ ]:
# Only for Hansa-School-Bus-Fleet

gp_df = data[data['groupName'] == 'Hansa-School-Bus-Fleet']

count_lists = ['distance', 'me_fcw_count','me_hmw_count','me_pcw_count', 'me_lldw_count','me_rldw_count']

gp_df = gp_df.groupby('VehicleNum')[count_lists].sum().reset_index()

gp_df = gp_df.drop(gp_df[gp_df.distance < 320].index)

gp_df.head()

In [ ]:
gp_df.to_excel("group_Hansa-School-Bus-Fleet.xlsx")