<a href="https://colab.research.google.com/github/Sreerag3/IHUB_PROJECTS/blob/main/iRASTE%20nagpur%20Driver%20score%20report%20generation%20%20final%20august.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.read_csv('/content/1st Aug - 31st Aug 2023 (1).csv')
print(data.shape)
data.head()

In [ ]:
data.columns

In [ ]:
data = data[['endDate', 'VehicleNum', 'groupName', 'driverName', 'distance', 'me_fcw_count', 'me_hmw_count',
             'me_pcw_count', 'me_lldw_count', 'me_rldw_count']]
data.head()

In [ ]:
df = data.copy()
print(df.shape)

In [174]:
from datetime import datetime

def custom_date_parser(date_str):

    return datetime.strptime(date_str, '%Y-%m-%d')

df['endDate'] = df['endDate'].apply(custom_date_parser)
dfs = []

day_list = [(1, 8), (9, 16), (17, 24), (25, 31)]

for day in day_list:

  start_date = datetime(2023, 8, day[0])
  end_date = datetime(2023, 8, day[1])
  # print(start_date)
  mask = (df['endDate'] >= start_date) & (df['endDate'] <= end_date)
  filtered_df = df[mask]

  filtered_df.reset_index(drop=True, inplace=True)
  dfs.append(filtered_df)

In [175]:
dfs[0].to_excel('Aug 1 - 8.xlsx')

In [176]:
dfs[1].to_excel('Aug 9 - 16.xlsx')

In [177]:
dfs[2].to_excel('Aug 17 - 24.xlsx')

In [178]:
dfs[3].to_excel('Aug 25 - 31.xlsx')

In [ ]:
dfs[1]['VehicleNum'] = dfs[1]['VehicleNum'].astype(str)

In [ ]:
print(dfs[0].shape)
values_to_drop = ['MH31EM0417','MH40BG0869','MH40BL3833','MH31EM0396','MH40BG1073',
                  'MH40BG2596','MH40BL3842','MH40BG1208','MH40BG1076','MH40BG3238',
                  'MH31EM0397','MH31EMO391','MH31FCO406','MH31FC0509',
                  'MH31FC0944','MH31FC0377','MH31FC0378','MH31FC0381','MH31FC0382',
                  'MH31FCO424','MH31FC0942','MH31FC0945','MH31FC0946','MH31FC0966',
                  'MH40BG1546','MH31EM0425','MH31EM0409','MH40BG1161','MH40BG1543',
                  'MH40BG7375','MH40BG7436','MH40BG2008']

dfs[0] = dfs[0][~dfs[0]['VehicleNum'].isin(values_to_drop)]

print(dfs[0].shape)

In [ ]:
print(dfs[1].shape)
values_to_drop = ['MH40BG0869','MH40BG1075','MH40BG1083','MH31EM0395','MH31EM0396',
                  'MH40BG2596','MH40BL3842','MH40BG1208','MH40BG1076','MH40BG3238',
                  'MH31EM0397','MH40BL3833','MH31EM0417','MH31EM0391','MH31FCO390',
                  'MH31FC0415','MH31FC0424','MH31FC0944','MH31FC0377','MH31EM0390',
                  'MH31FC0381','MH31FC0941','MH31FC0942','MH31FC0945','MH31FC0966',
                  'MH40BG1546','MH40BG1952','MH31EM0425','MH31EM0409','MH40BG1161',
                  'MH40BG1543','MH40BG2057','MH40BG7375','MH40BG7436','MH40BG2008']

dfs[1] = dfs[1][~dfs[1]['VehicleNum'].isin(values_to_drop)]

print(dfs[1].shape)

In [ ]:
print(dfs[2].shape)
values_to_drop = ['MH40BG1075','MH40BG2597','MH40BG1083','MH40BG1208','MH40BG1076',
                  'MH40BG3238','MH31EM0397','MH40BL3833','MH31EM0417','MH31EM0394',
                  'MH31FC0377','MH31FC0415','MH31FC0424','MH31FC0944','MH31EM0389',
                  'MH31FC0382','MH31FC0943','MH31FC0945','MH31FC0966','MH31EM0392',
                  'MH31EM0401','MH40BG1546','MH40BG1952','MH40BG1538','MH40BG1954',
                  'MH40BG1543','MH31EM0409','MH40BG7375','MH40BG7436','MH40BG2008']

dfs[2] = dfs[2][~dfs[2]['VehicleNum'].isin(values_to_drop)]

print(dfs[2].shape)

In [ ]:
print(dfs[3].shape)
values_to_drop = ['MH40BG0842','MH40BG0869','MH40BG1073','MH40BG1078','MH40BG1080',
                  'MH40BG1215','MH31EM0396','MH40BG0838','MH40BG2596','MH40BG7469',
                  'MH40BL3842','MH31EM0394','MH40BG1083','MH40BG1075','MH40BG1076',
                  'MH40BG3238','MH31EM0397','MH40BL3833','MH31EM0417','MH31EM0391',
                  'MH31FC0381','MH31FC0382','MH31FC0943','MH31FC0945','MH31FC3567',
                  'MH31EM0392','MH40BG1546','MH31EM0425','MH40BG1163','MH31EM0409',
                  'MH40BG1543','MH40BG1161','MH40BG7375','MH40BG2023','MH40BG2057',
                  'MH40BG7436','MH40BG2008','MH40BG2125']

dfs[3] = dfs[3][~dfs[3]['VehicleNum'].isin(values_to_drop)]

print(dfs[3].shape)

In [ ]:
combined_df = pd.concat([dfs[0],dfs[1], dfs[2], dfs[3]], axis=0, ignore_index=True)
combined_df.head()

In [ ]:
# data[data['groupName'] == 'Tra'].index

In [ ]:
count_lists = ['distance', 'me_fcw_count','me_hmw_count', 'me_pcw_count', 'me_lldw_count',	'me_rldw_count']
data_ = combined_df.groupby(['groupName', 'driverName'])[count_lists].sum().reset_index()
print(data_.shape)
# data_.head()

In [ ]:
data_copy = data_.copy()

# for i in data_copy['distance']:
#   if i < 320:
#     data_copy.drop(data_copy[i], inplace = True)

data_copy = data_copy.drop(data_copy[data_copy.distance < 320].index)

print(data_copy.shape)
data_copy.head()

In [ ]:
data_copy[data_copy.distance < 320]

In [ ]:
# rem_col = ['MH31EM0391']

# data_ = data_[~data_['VehicleNum'].isin(rem_col)]
# print(data_.shape)

In [ ]:
# with pd.ExcelWriter('output.xlsx') as writer:
#   for g_name, g_data in data_.groupby('groupName'):
#     g_data.to_excel(writer, sheet_name=g_name, index=False)

In [ ]:
name_list = data_copy['groupName'].unique()
print(name_list)

for g_value in name_list:

  g_df = data_copy[data_copy['groupName'] == g_value]
  f_name = f"group_{g_value}.xlsx"
  g_df.to_excel(f_name, index=False)

In [ ]:
name_ = 'Hansa-School-Bus-Fleet'

group_df = data[data['groupName'] == 'name_']
group_df.head()

In [ ]:
# Only for Hansa-School-Bus-Fleet

gp_df = data[data['groupName'] == 'Hansa-School-Bus-Fleet']

count_lists = ['distance', 'me_fcw_count','me_hmw_count','me_pcw_count', 'me_lldw_count','me_rldw_count']

gp_df = gp_df.groupby('VehicleNum')[count_lists].sum().reset_index()

gp_df = gp_df.drop(gp_df[gp_df.distance < 320].index)

gp_df.head()

In [191]:
gp_df.to_excel("group_Hansa-School-Bus-Fleet.xlsx")