<a href="https://colab.research.google.com/github/Sreerag3/IHUB_PROJECTS/blob/main/JAN%209%20CAS%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from datetime import datetime

data = pd.read_csv('/content/Trip Raw Report_November.csv')
df = data.copy()

def custom_date_parser(date_str):
    try:
        return datetime.strptime(date_str, '%d-%m-%Y')
    except ValueError:
        return datetime.strptime(date_str,'%Y-%m-%d')

df['startDate'] = df['startDate'].apply(custom_date_parser)
dfs = []

day_list = [(1, 8), (9, 16), (17, 24), (25, 30)]

for day in day_list:
    start_date = datetime(2023, 11, day[0])
    end_date = datetime(2023, 11, day[1])
    mask = (df['startDate'] >= start_date) & (df['startDate'] <= end_date)
    filtered_df = df[mask]
    filtered_df.reset_index(drop=True, inplace=True)
    dfs.append(filtered_df)

In [43]:
count_lists = ['distance', 'CAS', 'me_fcw_count', 'me_hmw_count', 'me_pcw_count', 'me_lldw_count', 'me_rldw_count']

# Group by 'groupName', 'VehicleNum', 'startDate', and 'driverName' in dfs[0] and sum the specified columns
grouped1_data = dfs[0].groupby(['groupName', 'VehicleNum', 'startDate', 'driverName'])[count_lists].sum().reset_index()

grouped1_data.to_excel('week1 Nov cas analysis.xlsx', index=False)

In [44]:
count_lists = ['distance', 'CAS', 'me_fcw_count', 'me_hmw_count', 'me_pcw_count', 'me_lldw_count', 'me_rldw_count']

# Group by 'groupName', 'VehicleNum', 'startDate', and 'driverName' in dfs[0] and sum the specified columns
grouped2_data = dfs[1].groupby(['groupName', 'VehicleNum', 'startDate', 'driverName'])[count_lists].sum().reset_index()

grouped2_data.to_excel('week2 Nov cas analysis.xlsx', index=False)

In [45]:
count_lists = ['distance', 'CAS', 'me_fcw_count', 'me_hmw_count', 'me_pcw_count', 'me_lldw_count', 'me_rldw_count']

# Group by 'groupName', 'VehicleNum', 'startDate', and 'driverName' in dfs[0] and sum the specified columns
grouped3_data = dfs[1].groupby(['groupName', 'VehicleNum', 'startDate', 'driverName'])[count_lists].sum().reset_index()

grouped3_data.to_excel('week3 Nov cas analysis.xlsx', index=False)

In [46]:
count_lists = ['distance', 'CAS', 'me_fcw_count', 'me_hmw_count', 'me_pcw_count', 'me_lldw_count', 'me_rldw_count']

# Group by 'groupName', 'VehicleNum', 'startDate', and 'driverName' in dfs[0] and sum the specified columns
grouped4_data = dfs[1].groupby(['groupName', 'VehicleNum', 'startDate', 'driverName'])[count_lists].sum().reset_index()

grouped4_data.to_excel('week4 Nov cas analysis.xlsx', index=False)

In [47]:
import pandas as pd

# List of Excel file paths
excel_file_paths = [
    r'/content/Nov week 1 cas checking.xlsx',
    r'/content/Nov week 2 cas checking.xlsx',
    r'/content/Nov week 3 cas analysis.xlsx',
    r'/content/Nov week 4 cas analysis.xlsx',
    # Add more file paths as needed
]

# Read all Excel files into a list of pandas DataFrames
dfs = [pd.read_excel(file_path) for file_path in excel_file_paths]

# Perform the join operation by vertically concatenating the DataFrames
merged_df = pd.concat(dfs, axis=0, ignore_index=True)

# Save the result to a new Excel file
merged_df.to_excel('combined file.xlsx', index=False)

In [ ]:
count_lists = ['distance', 'CAS', 'me_fcw_count', 'me_hmw_count', 'me_pcw_count', 'me_lldw_count', 'me_rldw_count']
finaldata_ = merged_df.groupby(['groupName','driverName'])[count_lists].sum().reset_index()
print(finaldata_.shape)
finaldata_.head()

In [ ]:
name_list = finaldata_['groupName'].unique()
print(name_list)

for g_value in name_list:

  g_df = finaldata_[finaldata_['groupName'] == g_value]
  f_name = f"group_{g_value}.xlsx"
  g_df.to_excel(f_name, index=False)

In [ ]:
gp_df = merged_df[merged_df['groupName'] == 'Hansa-School-Bus-Fleet']

count_lists = ['distance','CAS', 'me_fcw_count','me_hmw_count','me_pcw_count', 'me_lldw_count','me_rldw_count']

gp_df = gp_df.groupby('VehicleNum')[count_lists].sum().reset_index()

gp_df.head()

In [51]:
gp_df.to_excel("group_Hansa-School-Bus-Fleet.xlsx")