<a href="https://colab.research.google.com/github/Sreerag3/IHUB_PROJECTS/blob/main/Telangana%20adas%20%26%20non%20adas%20Vehicle%20no.%20details.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Read the input CSV file
data = pd.read_csv('/content/Bhel raw.csv')

# Read the second Excel file with ADAS vehicle list
second_file = pd.read_csv('/content/Adas bus details.csv')

# Classify as ADAS or Non ADAS based on VEHICLE No. presence in the second Excel file
data['bus'] = data['VEHICLE No.'].apply(lambda x: 'ADAS' if x in second_file['Veh No'].values else 'Non ADAS')
data.to_excel('adaslist1.xlsx', index=False)

# Separate data into ADAS and Non ADAS DataFrames
adas_data = data[data['bus'] == 'ADAS']
non_adas_data = data[data['bus'] == 'Non ADAS']

# Save ADAS and Non ADAS DataFrames to separate CSV files
adas_data.to_csv('adaslist.csv', index=False)
non_adas_data.to_csv('non_adaslist.csv', index=False)

In [ ]:
# Group by 'VEHICLE No.' and aggregate the 'OPTD_ KMS', 'SERVICE No.', and 'Corridor'
aggregated_data = adas_data.groupby('VEHICLE No.').agg({'OPTD_ KMS': 'sum', 'SERVICE No.': 'unique', 'Corridor': 'unique'}).reset_index()

# Iterate through the rows and print unique SERVICE No., Corridor, and aggregated OPTD_ KMS
for index, row in aggregated_data.iterrows():
    vehicle_no = row['VEHICLE No.']
    total_optd_kms = row['OPTD_ KMS']
    unique_service_numbers = row['SERVICE No.']
    unique_corridors = row['Corridor']

    print(f"Vehicle No.: {vehicle_no}")
    print(f"Total OPTD_ KMS: {total_optd_kms}")
    print(f"Unique SERVICE No.: {unique_service_numbers}")
    print(f"Unique Corridors: {unique_corridors}")
    print("===")

In [ ]:
# Save the result to an Excel file
aggregated_data.to_excel("Adas aggregated.xlsx", index=False)

In [ ]:
# Group by 'VEHICLE No.' and aggregate the 'OPTD_ KMS', 'SERVICE No.', and 'Corridor'
aggregated_data = non_adas_data.groupby('VEHICLE No.').agg({'OPTD_ KMS': 'sum', 'SERVICE No.': 'unique', 'Corridor': 'unique'}).reset_index()

# Iterate through the rows and print unique SERVICE No., Corridor, and aggregated OPTD_ KMS
for index, row in aggregated_data.iterrows():
    vehicle_no = row['VEHICLE No.']
    total_optd_kms = row['OPTD_ KMS']
    unique_service_numbers = row['SERVICE No.']
    unique_corridors = row['Corridor']

    print(f"Vehicle No.: {vehicle_no}")
    print(f"Total OPTD_ KMS: {total_optd_kms}")
    print(f"Unique SERVICE No.: {unique_service_numbers}")
    print(f"Unique Corridors: {unique_corridors}")
    print("===")

In [ ]:
# Save the result to an Excel file
aggregated_data.to_excel("Non - Adas aggregated.xlsx", index=False)