<a href="https://colab.research.google.com/github/Sreerag3/IHUB_PROJECTS/blob/main/vivek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Read the input CSV file
data = pd.read_csv('/content/BHEL Adas & Non adas buses analysis.csv')

# Keep only relevant columns
data = data[['SERVICE No.', 'OPTD_ KMS', 'VEHICLE No.', 'ADAS bus', 'Non ADAS bus', 'Corridor']]

# Group by 'SERVICE No.' and 'Corridor', and aggregate the sum of 'OPTD_KMS'
grouped_data = data.groupby(['SERVICE No.', 'Corridor']).agg({
    'OPTD_ KMS': 'sum',
    'VEHICLE No.': 'nunique',          # Count unique buses
    'ADAS bus': lambda x: x.notna().sum(),  # Count non-blank entries for ADAS bus
    'Non ADAS bus': lambda x: x.notna().sum()  # Count non-blank entries for Non ADAS bus
}).reset_index()

# Rename the columns for clarity
grouped_data.columns = ['SERVICE No.', 'Corridor', 'Total OPTD_KMS', 'Total Buses', 'ADAS Buses', 'Non ADAS Buses']

# Print the shape of the resulting DataFrame
print(grouped_data.shape)

# Save the grouped data to Excel
grouped_data.to_excel("BHEL Ride details.xlsx", index=False)

(48, 6)

In [ ]:
d1= pd.read_excel('/content/adas_vehicle_list.xlsx')
d2=pd.DataFrame(d1)
d2.columns

Index(['Veh No'], dtype='object')

In [ ]:
d2.shape

(196, 1)

In [ ]:
d1= pd.read_csv('/content/BHEL Adas & Non adas buses analysis.csv')
d2=pd.DataFrame(d1)
d2.columns

Index(['SL. NO', 'CHLN_DATE', 'VEHICLE No.', 'DRIVER', 'SERVICE No.',
       'SER_ TP', 'OPTD_ KMS', 'HSD', 'KMPL', 'Corridor'],
      dtype='object')

In [ ]:
import pandas as pd

# Read the input CSV file
data = pd.read_csv('/content/BHEL Adas & Non adas buses analysis.csv')


second_file = pd.read_excel('/content/adas_vehicle_list.xlsx')

# Classify as ADAS or Non ADAS based on VEHICLE No. presence in the second Excel file
# data['ADAS bus'] = data['VEHICLE No.'].apply(lambda x: 'ADAS' if x =='Veh No' else 'Non ADAS')
data['bus'] = data['VEHICLE No.'].apply(lambda x: 'ADAS' if x in second_file['Veh No'].values else 'Non ADAS')
data.to_excel('adaslist1.xlsx',index=False)
# # Keep only relevant columns
data = data[['SERVICE No.','Corridor','OPTD_ KMS', 'VEHICLE No.','bus']]

# Group by 'SERVICE No.' and 'Corridor', and aggregate the sum of 'OPTD_KMS'
grouped_data = data.groupby(['SERVICE No.', 'Corridor']).agg({
    'OPTD_ KMS': 'sum',
    'VEHICLE No.': 'nunique',          # Count unique buses


}).reset_index()

# Rename the columns for clarity
grouped_data.columns = ['SERVICE No.', 'Corridor','Total OPTD_KMS', 'Total Buses', 'ADAS Buses']

# Print the shape of the resulting DataFrame
print(grouped_data.shape)

# Save the grouped data to Excel
grouped_data.to_excel("BHEL Ride details1.xlsx", index=False)

(48, 5)